*.kdev4
.vscode
.cache
.idea

# macOS crap
.DS_Store

# ignore local cvars
.cvars

# ignore renderdoc captures
/captures/*

# ignore compiled SPIR-V
/data/shader/**/*.spv
/data/shader/*.spv

# ignore local dev content
/data/resources/dev

# temporal stuff
imgui.ini

# build stuff
cmake_install.cmake
Makefile
*.a
build
CMakeFiles/
*/CMakeFiles/*