*.kdev4
.vscode
.cache

# ignore renderdoc captures
/captures/*

# ignore compiled SPIR-V
/data/shader/**/*.spv
/data/shader/*.spv

# ignore generated subprojects
/subprojects/*
!/subprojects/*.wrap

# don't ignore non-generated subprojects
!/subprojects/volk
!/subprojects/vkbootstrap
!/subprojects/tinyobjloader
!/subprojects/stb_image
!/subprojects/imgui
/subprojects/imgui/backends/vulkan/*.u32
!/subprojects/fastgltf
